<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /wasteless/api/

    # Send everything to index.php (clean URL routing)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>